.hero {
  background: linear-gradient(120deg, #0d6efd, #1e90ff);
  padding: 100px 0;
}

.search-box {
  background: white;
  padding: 15px;
  display: flex;
  gap: 10px;
  border-radius: 5px;
  max-width: 700px;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}
